@font-face
    font-family open
    src url( '../font/open.ttf' ) format( 'truetype' )

@font-face
    font-family special
    src url( '../font/special.ttf' ) format( 'truetype' )

@font-face
    font-family nova
    src url( '../font/nova.ttf' ) format( 'truetype' )
